{% extends 'base.html' %}

{% block content %}
  <h2>Detail</h2>
  <h2>{{movie.title}}</h2>
  <p>개봉일 : {{movie.release_date}}</p>
  <p>관객 수 : {{movie.popularity}}</p>
  <p>평점 수? :{{movie.vote_count}}</p>
  {% comment %} views.py의 context 에서 genres를 보냄 / views.py에서 만들어서 변수를 가져다 씀 {% endcomment %}
  {% for genre in genre_ids %}
      <span>{{ genre.name }} |</span>
  {% endfor %}
  <p>줄거리 : {{movie.overview}}</p>
  <img src="https://image.tmdb.org/t/p/w780{{movie.poster_path}}" alt="">


  <h4>리뷰 목록</h4>
  <button><a href="{% url 'movies:review_create' movie.pk %}">리뷰 작성</a></button>
  {% if reviews|length %}
    <p><b>{{ reviews|length }}개의 리뷰가 있습니다.</b></p>
    
  {% endif %}


  {% for review in reviews %}
    <div>
      <h4><a href="{% url 'movies:review_detail' movie.pk review.pk %}">{{ review.title }}</a></h4> 
      작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a>
    </div>
  {% empty %}
    <p><b>리뷰가 없어요..</b></p>
  {% endfor %}
  <hr>

  <a href="{% url 'movies:index' %}">[back]</a>


{% endblock %}

