{% extends 'base.html' %}
{% load bootstrap5 %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'movies/style.css' %}">
{% endblock css %}


{% block content %}
  <h1>Movies</h1>

  <!-- ***** Main Banner Area Start ***** -->

      <video autoplay muted loop id="bg-video">
          <source src="{% static 'movies/course-video.mp4' %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hello Students</h6>
              <h2>Welcome to Education</h2>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  {% for movie in movies %}
      <p>{{movie.pk}}</p>
      <p>{{movie.title}}</p>
      <p>{{movie.overview}}</p>
      <p>vote_average: {{movie.vote_average}}</p>
      <a href="{% url 'movies:detail' movie.pk %}">[Detail]</a>
      <hr>
  {% endfor %}
{% endblock %}
