{% load bootstrap5 %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" href="http://127.0.0.1:8000/home/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:index' %}">movie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'community:index' %}">community</a>
        </li>
        
        <!-- 사용자 정보 -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:profile' user %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="logout">
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}">sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">login</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>