{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!--font-awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- axios cdn -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>{% block title %}{% endblock %}</title>
  {% bootstrap_css %}

  <style>
    body {
      background-color: black;
    }
      header {
      position: relative;
      background-color: black;
      height: 100vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
    }
  </style>
  {% block CSS %}
  {% endblock CSS %}

</head>
<body>
  
  {% include '_nav.html' %}
  {% comment %} <div class="container"> {% endcomment %}
  <br>
  <br>
  <br>

  {% block content %}

  {% endblock content%}

  {% comment %} {% bootstrap_javascript jquery='full' %} {% endcomment %}
  {% comment %} </div> {% endcomment %}
  <!-- {% include '_foot.html' %} -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  {% bootstrap_javascript %}
</body>
</html>
